@model List<Usuario>

    <div class="text-center display-4 m-5">
        Usuários
    </div>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Email</th>
            <th>Nome</th>
            <th>Senha</th>
            <th>Inserir</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Email</td> 
                <td>@usuario.Nome</td>
                <td>@usuario.Senha</td>
                <td class="text-center">
                    <a class="text-danger  " asp-controller="Usuario" asp-action="Create">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a class="text-success text-center" asp-controller="Usuario" asp-action="Edit" asp-route-id="@usuario.Id">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>