@model Usuario

@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agenda</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="col-8" style="height:100vh;display: flex;  align-items: center;width:100%;justify-content:center">
<div class="col-6">
        <span class="text-danger text-center">@ViewData["msgError"]</span>

        <form asp-action="Logar" method="post">
            <div class="row">
                <div class="col-12">
                    <label>Login</label>
                    <input asp-for="Nome" class="form-control" type="text" />
                    <span asp-validation-for="Nome" class="text-danger" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-4">
                    <label>Senha</label>
                    <input asp-for="Senha" class="form-control" type="password" />
                    <span asp-validation-for="Senha" class="text-danger" />
                </div>
            </div>
            <footer class="mt-4">
                <input type="submit" value="Entrar" class="btn btn-success form-control mt-4" />
            </footer>
        </form>
        </div>
    </div>
</body>
</html>
